body {
    font-family: Arial, sans-serif;
    background: url("https://images.pexels.com/photos/1846422/pexels-photo-1846422.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-size: cover;
}

.container {
    background-color: #dde6e4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 480px;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 50vh;
}

h1 {
    margin: 0 0 20px;
}

input[type="text"] {
    width: 90%;
    padding: 10px;
    margin-left: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    width: 450px;
    margin-top: 15px;
    margin-left: 15px;
    padding: 10px;
    border: none;
    background-color: #28a745;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
    overflow-y: auto;
    flex-grow: 1;
}

li {
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li .delete-btn {
    width: 70px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

li .delete-btn:hover {
    background-color: #c82333;
}





